/* Detail Banner 
===================*/
.detail-banner-wrap {
	padding: 131px 0 0;
	background: url('../images/detail-banner.jpg') no-repeat center/ cover;
	overflow: hidden;
}
.detail-banner-info {
	padding-bottom: 70px;
}
.user-icons {
	display: flex;
	align-items: center;
	padding: 12px;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 12px;
	width: 100%;
	max-width: 172px;
	justify-content: center;
	margin: 15px 0 24px;
}
.user-icons li {
	padding: 0 12px;
}
.user-icons li a {
	display: block;
	width: 100%;
	max-width: 21px;
}
.user-icons li a img {
	width: 100%;
}
.schools-info {
	display: flex;
	align-items: center;
	color: var(--white-color);
}
.schools-info h1 {
	margin-bottom: 0;
	line-height: 1.3;
}
.huda-img {
	width: 100%;
	max-width: 122px;
	margin-left: 15px;
}
.banner-detail-btn {
	display: flex;
	align-items: center;
	margin-top: 47px;
}
.banner-detail-btn a.dark-btn {
	margin-right: 15px;
	max-width: 177px;
}
.detail-banner-bottom {
	border-top: 1px solid rgba(235, 236, 240, 0.17);
	background: url('../images/detail-banner-layer.png') no-repeat center/ cover;
	padding-bottom: 60px;
}
.available-row {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 0 -12px;
}
.available-col {
	width: 33.33%;
	padding: 0 12px;
}
.available-col-box {
	display: flex;
	align-items: flex-start;
	color: var(--white-color);
	position: relative;
	padding-top: 25px;
}
.available-col-box::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	width: 66px;
	height: 4px;
	border-radius: 6px;
	background: transparent;
}
.available-col-box.active::after {
	background: var(--secondary-color);
}
.available-img {
	width: 100%;
	max-width: 60px;
	margin-left: 22px;
}
.available-col-box.active .available-img img {
	fill: var(--secondary-color);
}
.available-info h3 {
	color: var(--white-color);
	font-size: 23px;
	font-weight: 700;
	line-height: 1.2;
}
.available-col-box.active h3 {
	color: var(--secondary-color);
}
.available-info p {
	color: #A3ABB6;
	font-size: 14px;
	margin-bottom: 0;
}
.detail-banner-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 50px -20px 0;
}
.detail-banner-list li {
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
	color: var(--white-color);
	padding: 0 20px;
}
.detail-banner-list li span {
	display: block;
	width: 100%;
	max-width: 24px;
	margin-left: 12px;
}

@media (max-width: 1439px) {
	.available-info h3 {
		font-size: 22px;
	}
	.detail-banner-list li {
		font-size: 18px;
	}
}
@media (max-width: 1199px) {
	.available-info h3 {
		font-size: 20px;
	}
	.huda-img {
		max-width: 100px;
	}
	.banner-detail-btn {
		margin-top: 40px;
	}
	.available-img {
  		max-width: 45px;
  		margin-left: 15px;
	}
}
@media (max-width: 991px) {
	.available-info h3 {
		font-size: 18px;
	}
	.detail-banner-list li {
		font-size: 16px;
	}
	.detail-banner-info {
		padding-bottom: 60px;
	}
	.detail-banner-bottom {
		padding-bottom: 50px;
	}
}
@media (max-width: 767px) {
	.detail-banner-info {
		padding-bottom: 50px;
	}
	.detail-banner-bottom {
		padding-bottom: 40px;
	}
	.available-col{
		width: 50%;
		padding-bottom: 20px;
	}
	.detail-banner-list {
		margin: 30px -15px 0;
	}
	.detail-banner-list li {
		font-size: 15px;
		padding: 0 15px;
	}
	.detail-banner-list li span {
		max-width: 20px;
		margin-left: 10px;
	}
	.banner-detail-btn .secondary-btn {
		max-width: 130px;
	}
	.banner-detail-btn a.dark-btn {
		max-width: 150px;
	}
}
@media (max-width: 575px) {
	.detail-banner-wrap {
		padding-top: 100px;
	}
	.user-icons {
		padding: 10px;
	}
	.huda-img {
		max-width: 90px;
	}
	.banner-detail-btn {
		margin-top: 25px;
	}
	.detail-banner-info {
		padding-bottom: 40px;
	}
	.detail-banner-bottom {
		padding-bottom: 30px;
	}
	.available-col {
		width: 100%;
	}
	.detail-banner-list {
		flex-wrap: wrap;
		margin: 20px -10px 0;
	}
	.detail-banner-list li {
		width: 50%;
		padding: 0 10px 20px;
	}
	.detail-banner-list li:nth-last-of-type(2),
	.detail-banner-list li:last-child {
		padding-bottom: 0;
	}
}